{{# media }}
    <img src="@@PLUGINFILE@@/{{ type.params.file.path }}" alt="{{ type.params.alt }}" class="img-responsive p-2">
{{/ media }}
<div class="h5p-questiontext">
    {{{ questiontext }}}
</div>
